ffmpeg/
node_modules/
**/package-lock.json
package-lock.json
package.json
temp/
backup/
.env
backup_database_send_queue.json
bake_db.json
data_red_packet.json
database.json
db.json
giveaway.json
rpg_database.json
rpg_shop.json
smelt_db.json
serverIP.json